.btn {
    &,
    &:link, 
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4.0rem;
        display: inline-block; 
        border-radius: 10%;
        border-radius: 10.0rem;
        font-size: 2.0rem;
        transition: all 0.2s;
        position: relative;
        box-shadow: 0 .5rem 1.0rem rgba($color-black, 0.2);

        // Changes for <button> element
        border: none;
        cursor: pointer;




        /* animation-name: moveInTop; */
        /* animation-duration: 0.8s; */
        /* animation-timing-function: ease-in-out; */
        /* animation: moveInTop 0.8s ease-in-out; */
        /* animation-delay: 0.75s; */
    }
    
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1.0rem 2.0rem rgba($color-black, 0.2);
    
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;   
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(1rem);
        box-shadow: 0 .5rem 1.0rem rgba($color-black, 0.2);
    } 
    
    &--white {
        background-color: $color-white;
        color: $color-grey-dark;
    
        &::after {
            background-color: $color-white;
        }
    }

    &--green {
        background-color: $color-primary;
        color: $color-white;
    
        &::after {
            background-color: $color-primary;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10.0rem;
        position: absolute;
        top: .0rem;
        left: .0rem;
        z-index: -1;
        transition: all 0.2s;
    }
    
    &--animated {
        animation: moveInTop 0.5s ease-in-out 0.75s;
        animation-fill-mode: backwards;
    }
    
}
    
.btn-text {
    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: 3px;
        transition: all 0.2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba($color-black, .15);
        transform: translateY(-.2rem);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0rem);

    }
}



